<form>
    <fieldset>
      <div class="form-group label-floating">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="zmdi zmdi-account"></i>
          </span>
          <label class="control-label" for="ms-form-user-r">Username</label>
          <input type="text" id="ms-form-user-r" class="form-control"> </div>
      </div>
      <div class="form-group label-floating">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="zmdi zmdi-email"></i>
          </span>
          <label class="control-label" for="ms-form-email-r">Email</label>
          <input type="email" id="ms-form-email-r" class="form-control"> </div>
      </div>
      <div class="form-group label-floating">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="zmdi zmdi-lock"></i>
          </span>
          <label class="control-label" for="ms-form-pass-r">Password</label>
          <input type="password" id="ms-form-pass-r" class="form-control"> </div>
      </div>
      <div class="form-group label-floating">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="zmdi zmdi-lock"></i>
          </span>
          <label class="control-label" for="ms-form-pass-retype">Re-type Password</label>
          <input type="password" id="ms-form-pass-retype" class="form-control"> </div>
      </div>
      <button class="btn btn-raised btn-block btn-primary">Register Now</button>
    </fieldset>
  </form>