<article class="card mb-4 wow materialUp animation-delay-2">
  <figure class="ms-thumbnail ms-thumbnail-diagonal">
    <img src="{{post.thumbnail}}" alt="" class="img-fluid">
    <figcaption class="ms-thumbnail-caption text-left">
      <div class="ms-thumbnail-caption-content" style="overflow-y: scroll; height:100%;">
        <div class="col-lg-12 col-md-12 ms-footer-col">
          <div class="ms-footbar-block">
            <h3 class="ms-footbar-title text-left mb-1" style="margin-bottom: 50px;">
              <i class="zmdi zmdi-wifi-alt" style=" -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);"></i>
              Latest Comments.
            </h3>

            <div class="ms-footer-media" style="color:white;">
              <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
            </div>
          </div>
        </div>
      </div>

    </figcaption>
  </figure>
  <div class="card-body">
    <div class="ms-media-list">

      <div class="row">
        <div class="col-md-12 text-right">
          <img *ngFor="let user of commenters " class="media-object" style="height: 30px; width: 30px;" src="{{user.profilePicture}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="media mb-2">
            <div class="media-left media-middle">
              <a class="mr-3" href="#">
                <img class="media-object" src="{{post.owner.profilePicture}}"> </a>
            </div>
            <div class="media-body">
              <h4 class="mt-0 mb-0 color-warning">{{post.owner.username}}</h4>
              <div class="">
                <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook">
                  <i class="zmdi zmdi-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter">
                  <i class="zmdi zmdi-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <p>
            <i class="no-mr zmdi zmdi-time"></i> {{post.createdAt | date: 'hh:mm dd-MM-yyy'}}</p>
          <p>

          </p>
        </div>
      </div>
    </div>
    <p>{{post.description}}</p>
    <div class="row">
      <div class="col-md-6">
        <div class="mt-1">
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-success mr-2">
            <i class="zmdi  zmdi-thumb-up"></i>
            <span class="badge-pill badge-pill-primary">{{post.likes}}</span>
          </a>

          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-danger mr-2">
            <i class="zmdi  zmdi-thumb-down"></i>
            <span class="badge-pill badge-pill-primary">{{post.dislike}}</span>
          </a>

          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-info mr-2">
            <i class="fa fa-comments-o"></i>
            <span class="badge-pill badge-pill-primary">{{comments.length}}</span>
          </a>


        </div>
      </div>
      <div class="col-md-6">
        <a href="javascript:void(0)" data-toggle="modal" [attr.data-target]="'#'+post.id" class="btn btn-primary btn-raised btn-block animate-icon">New Comment.
          <i class="ml-1 no-mr zmdi zmdi-plus"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="modal" [attr.id]="post.id" tabindex="-1" role="dialog" attr.aria-labelledby="myModalLabel2">
    <div class="modal-dialog modal-lg animated zoomIn animated-3x" role="document">
      <div class="modal-content" style="background-color: #00000000; border:0px;">
        <div class="col-lg-12 col-md-6 order-md-1">
          <div class="card animated fadeInUp animation-delay-0">
            <div class="ms-hero-bg-primary ms-hero-img-coffee" [ngStyle]="{ 'background-image': 'url(' + post.thumbnail + ')'}">
              <h3 class="color-white index-1 text-center no-m pt-4">{{currentUser.username}}</h3>
              <div class="color-medium index-1 text-center np-m">@{{currentUser.username}}</div>
              <img src="{{currentUser.profilePicture}}" alt="..." class="img-avatar-circle"> </div>
            <div class="card-body pt-4 text-center">
              <h3 class="color-primary"></h3>

              <form class="form-horizontal" autocomplete="off">

                <div class="alert alert-info" *ngIf="error">
                  <p>
                    <i class="zmdi zmdi-info-outline"></i> {{errorText}}
                  </p>
                </div>

                <fieldset>
                  <div class="form-group row">
                    <div class="col-lg-12">
                      <textarea (keyup)="error = false;" [(ngModel)]="comment.content" name="content" placeholder="Write a comment..." class="form-control"
                        rows="2" id="textArea"></textarea>
                    </div>
                  </div>
                </fieldset>
              </form>


              <div class="text-right">
                <button type="button" #closeModal class="btn btn-danger btn-raised animated fadeInLeft animation-delay-4 mr-2" data-dismiss="modal">Close</button>
                <button type="button" (click)="sendComment()" class="btn btn-success btn-raised animated fadeInLeft animation-delay-4 mr-2">Share</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</article>