<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay">
  <div class="sb-slidebar-container">
    <header class="ms-slidebar-header">
      <div class="ms-slidebar-title">
        <form class="search-form">
          <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
          <label for="search-box-slidebar">
            <i class="zmdi zmdi-search"></i>
          </label>
        </form>
        <div class="ms-slidebar-t">
          <span class="ms-logo ms-logo-sm">M</span>
          <h3>Moti
            <span>gram</span>
          </h3>
        </div>
      </div>
    </header>
    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
      <li class="card" role="tab" id="sch1">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false" aria-controls="sc1">
          <i class="zmdi zmdi-home"></i> Home </a>
 
      </li>
      <li class="card" role="tab" id="sch2">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc2" aria-expanded="false" aria-controls="sc2">
          <i class="zmdi zmdi-desktop-mac"></i> Pages </a>
      </li>
     
    </ul>
    <div class="ms-slidebar-social ms-slidebar-block">

    </div>
  </div>
</div>