<div class="ms-hero ms-hero-material">
  <span class="ms-hero-bg"></span>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7">
        <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption">
                <div class="ms-hero-material-text-container">
                  <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                    <h1 class="animated fadeInLeft animation-delay-15 font-smoothing">Share With us
                      <strong>your best moments</strong>
                    </h1>
                    <h2 class="animated fadeInLeft animation-delay-18">The most customizable
                      <span class="color-warning">stories</span> memories.</h2>
                  </header>
                  <ul class="ms-hero-material-list">
                    <li class="">
                      <div class="ms-list-icon animated zoomInUp animation-delay-18">
                        <span class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp">
                          <i class="zmdi zmdi-share"></i>
                        </span>
                      </div>
                      <div class="ms-list-text animated fadeInRight animation-delay-19">Post and share stories with Motigram</div>
                    </li>
                    <li class="">
                      <div class="ms-list-icon animated zoomInUp animation-delay-20">
                        <span class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp">
                          <i class="fa fa-comments-o"></i>
                        </span>
                      </div>
                      <div class="ms-list-text animated fadeInRight animation-delay-21">Keep in touch with others and write comments</div>
                    </li>
                    <li class="">
                      <div class="ms-list-icon animated zoomInUp animation-delay-22">
                        <span class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp">
                          <i class="zmdi zmdi-favorite"></i>
                        </span>
                      </div>
                      <div class="ms-list-text animated fadeInRight animation-delay-23">Hit like or dislike, feel free to do whatever you want .</div>
                    </li>
                  </ul>
                  <div class="ms-hero-material-buttons text-left">
                    <div class="ms-hero-material-buttons text-left">
                      <!-- <a href="javascript:void(0);" class="btn btn-success btn-raised animated fadeInLeft animation-delay-24 mr-2">
                        <i class="zmdi zmdi-plus-circle"></i> Share a new Post</a> -->
                    </div>
                  </div>
                </div>
                <!-- ms-hero-material-text-container -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-5">
 
      </div>
    </div>
  </div>
  <!-- container -->
</div>