<div class="card animated fadeInUp animation-delay-7">
  <div class="ms-hero-bg-royal ms-hero-img-coffee">
    <h3 class="color-white index-1 text-center no-m pt-4">{{currentUser.username}}</h3>
    <div class="color-medium index-1 text-center np-m">@{{currentUser.username}}</div>
    <img src="{{currentUser.profilePicture}}" alt="..." class="img-avatar-circle"> </div>
  <div class="card-body pt-4 text-center">
    <h3 class="color-primary">Member Since</h3>
    <p>
      {{currentUser.membreSince | date: 'dd-MM-yyy'}}
    </p>
    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
      <i class="zmdi zmdi-facebook"></i>
    </a>
    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
      <i class="zmdi zmdi-twitter"></i>
    </a>
    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
      <i class="zmdi zmdi-instagram"></i>
    </a>
  </div>
</div>

<div class="card card-primary animated fadeInUp animation-delay-7">
  <div class="card-header">
    <h3 class="card-title">
      <i class="zmdi zmdi-star"></i>
      Most Popular</h3>
  </div>
  <div class="card-body">
    <div class="ms-media-list">
      <div class="media mb-2" *ngFor="let post of popularPosts">
        <div class="media-left media-middle">
          <a href="#">
            <img class="d-flex mr-3 media-object media-object-circle" src="{{post.owner.profilePicture}}" alt="..."> </a>
        </div>
        <div class="media-body">
          <p>{{ (post.description.length>60)? (post.description | slice:0:60)+'..':(post.description) }}</p>
          <div class="media-footer text-small">
            <span class="mr-1">
              <i class="zmdi zmdi-time color-info mr-05"></i> {{post.createdAt | date: 'hh:mm dd-MM-yyy'}}</span>
            <span>
              <i class="zmdi zmdi-account color-success mr-05"></i>
              <a href="javascript:void(0)">{{post.owner.username}}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>