<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12 col-md-6 order-md-1">
          <div class="card animated fadeInUp animation-delay-7">
            <div class="ms-hero-bg-primary ms-hero-img-coffee">
              <h3 class="color-white index-1 text-center no-m pt-4" *ngIf="user">{{user.username}}</h3>
              <div class="color-medium index-1 text-center np-m" *ngIf="user">@{{user.username}}</div>
              <img *ngIf="user" src="{{user.profilePicture}}" alt="..." class="img-avatar-circle"> </div>
            <div class="card-body pt-4 text-center">
              <h3 class="color-primary"></h3>
              <p></p>
              <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                <i class="zmdi zmdi-facebook"></i>
              </a>
              <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                <i class="zmdi zmdi-twitter"></i>
              </a>
              <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                <i class="zmdi zmdi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 order-md-3 order-lg-2">

        </div>
        <div class="col-lg-12 col-md-6 order-md-2 order-lg-3">
         <app-recent-comment [comments]="recentComments"></app-recent-comment>
        </div>
      </div>
    </div>
    <div class="col-lg-8" *ngIf="user">
      <div class="row">
        <div class="col-sm-4">
          <div class="card card-info card-body text-center wow zoomInUp animation-delay-2">
            <h2 class="counter color-info">{{posts.length}}</h2>
            <i class="fa fa-4x fa-file-text color-info"></i>
            <p class="mt-2 no-mb lead small-caps color-info">Posts</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-royal card-body text-center wow zoomInUp animation-delay-4">
            <h2 class="counter color-royal">{{comments.length}}</h2>
            <i class="fa fa-4x fa-comments-o color-royal"></i>
            <p class="mt-2 no-mb lead small-caps color-royal">comments</p>
          </div>
        </div>
      </div>
      <div class="card card-primary animated fadeInUp animation-delay-12">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-account-circle"></i> General Information</h3>
        </div>
        <table class="table table-no-border table-striped">
          <tr>
            <th>
              <i class="zmdi zmdi-account mr-1 color-success"></i> User Name</th>
            <td>{{user.username}}</td>
          </tr>
          <tr>
            <th>
              <i class="zmdi zmdi-face mr-1 color-warning"></i> Fullname</th>
            <td>{{user.username}}</td>
          </tr>
          <tr>
            <th>
              <i class="zmdi zmdi-email mr-1 color-danger"></i> Email</th>
            <td>
              <a href="#">{{user.username}}@example.com</a>
            </td>
          </tr>
          <tr>
            <th>
              <i class="zmdi zmdi-link mr-1 color-info"></i> Website</th>
            <td>
              <a href="#">www.{{user.username}}.com</a>
            </td>
          </tr>
          <tr>
            <th>
              <i class="zmdi zmdi-calendar mr-1 color-royal"></i> Member Since</th>
            <td>{{user.membreSince | date: 'dd-MM-yyy'}}</td>
          </tr>
        </table>
      </div>
      <h2 class="color-primary text-center mt-4 mb-2">Recent Activity</h2>
      <div class="row">
        <div class="col-lg-12">
          <ul class="ms-timeline">
            <app-timeline-item *ngFor="let post of posts" [post]="post" ></app-timeline-item>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>